@charset "ISO-8859-1";

.signup-screen, .login-screen
{
	width:100%;
	height:100vh;
	background:rgba(0,0,0,0);
	position:absolute;
	z-index:2;
	top:0;
	position:fixed;
	transform-origin: bottom;
    transform:scaleY(0); 
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}


.signup-screen
{
	transform-origin: top;
}


.form-wrapper{
	box-shadow:0 2px 4px 6px rgba(0,0,0,0.2);
	width:30%;
	heigth:auto;
	background:red;
	padding:2rem;
	padding-top:1rem;
	background:white;
}

.form-wrapper p:nth-child(2)
{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	margin:0 auto;
	margin-top:1rem;
	color:rgba(50,50,50,1);
}

.form-wrapper p.go_to_login, .form-wrapper p.go_to_sign_up
{
	font-size:14px;
	font-weight:normal;
	text-align:center;
	margin:0 auto;
	color:rgba(50,50,50,1);
	cursor:pointer;
}

.form-wrapper p.go_to_login:hover
{
	transition:0.3s;
	color:rgba(60,30,30,1);
}


.form-wrapper form input
{
	background:transparent;
	height:2.5rem;
	padding-left:20px;
	border:1px solid rgba(50,50,50,1);
	margin-top:1.5rem;
}

.form-wrapper .cancel_login, 
.form-wrapper .cancel_signup
{
	top:0;
	right:0;
	position:relative;
	width:auto;
	float:right;
	cursor:pointer;
	color:rgba(120,120,120,1);
}